langchain
langchain-groq
langchain-community
langchain-text-splitters
faiss-cpu
streamlit
langsmith
python-dotenv
requests
tiktoken
beautifulsoup4
lxml
pandas
tavily-python
langchain-tavily
wikipedia 
langchain-huggingface 
langchain-faiss
sentence-transformers 
fastapi
uvicorn
torchvision